<!--{{tblActions.canEdit|json}}-->
<table *ngIf="data && data.contents" class="table table-hover">
    <tr>
        <th *ngFor="#th of tblHeaders">{{th}}</th>
        <th class="text-right">Actions</th>
    </tr>
    <tr *ngFor="#tr of tblContents">
        <!--{{tr|json}}-->
        <td *ngFor="#td of tr | objValues:tblContentsCb:tblHideID" [innerHTML]="td.toString()"></td>
        <!--<td>John Doe</td>
        <td><span class="label label-success">Approved</span></td>-->
        <td class="action-list text-right">
            <a *ngIf="tblActions.canEdit" href="{{tblActions.canEdit.url + tr.id}}" data-toggle="tooltip" data-placement="top" title="view details">
                <i class="fa fa-sign-in"></i>
            </a>
            <!--<a *ngIf="tblActions.canEdit" href="" data-toggle="tooltip" data-placement="top" title="Deactivate">
                <i class="fa fa-toggle-on"></i>
            </a>-->
            <!--<a href="" data-toggle="tooltip" data-placement="top" title="remove">
                <i class="fa fa-trash"></i>
            </a>-->
        </td>
    </tr>
</table>
<table *ngIf="!data || !data.contents" class="table table-hover">
    <tr>
        <th>No Data Arrived</th>
    </tr>
</table>
