<section class="content-header" protected>
    <h1>
        Rooms
        <small>Setup Rooms</small>
     </h1>
    <ol class="breadcrumb">
        <li><a [routerLink]="['/Dashboard']" href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Room</li>
    </ol>
</section>
<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">
                        List Of Rooms 
                        <a *ngIf="tblContent.actions && tblContent.actions.canCreate" 
                        [routerLink]="['/Resource', 'ResourceCreate']" data-toggle="tooltip" data-placement="right" title="add new">
                            <i class="fa fa-plus-circle"></i>
                        </a>
                     </h3>
                    <div class="box-tools">
                    </div>
                </div>
                <!-- /.box-header -->
                <div class="box-body table-responsive no-padding">
                    <regular-table [data]="tblContent"></regular-table>
                </div>
                <!-- /.box-body -->
            </div>
        </div>
    </div>
</section>
